@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: green !important;
}
::-webkit-scrollbar-track {
    background: white !important;
}

.hamburger-line {
    @apply w-[30px] h-[2px] block my-1.5;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}
.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

.bar-hover:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2.3px;
    background-color: #60f460;
    width: 0;
    border-radius: 50%;
    transition: width 0.3s ease-in-out;
}

.bar-hover:hover:before {
    width: 100%;
}

@media (max-width: 640px) {
    .hapus {
        display: none;
    }
}

.bergerak {
    animation: moveUpDown 1s ease-in-out infinite;
}

@keyframes moveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}

.shadow {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
